{{yield}}

<!--output for now, later provide a button and/or a shortcut to copy the test code to the clipboard-->
<p style="position: absolute; bottom: 0; right: 0; width: 600px; height: 300px; background-color: #9dfffd;overflow: scroll" id="renderedScript"></p>
<!--<button {{action copyToClipBoard}}>Copy</button>-->
