<header>
    <h1>Buttons</h1>
    <button type="button" {{action 'goToLoginView'}}
            class=""
            id="btnLogin">
        <span class=""></span>&nbsp;Log in
    </button>
    <button type="button" {{action 'goToRegisterView'}}
            class=""
            id="btnRegister">
        <span class=""></span>&nbsp;Register
    </button>
</header>

{{outlet}}
{{test-recorder}}
