<header>
    <h1>Buttons</h1>
    <button type="button" {{action 'goToLoginView'}}
            class=""
           >
        <span class=""></span>&nbsp;Log in
    </button>
    <!--this has no id to check if test recorder prints out html path for selector-->
    <button type="button" {{action 'goToInputsView'}}
            class=""
            >
        <span class=""></span>&nbsp;Inputs
    </button>
</header>
{{#toggle-component}}
    <p id="toggle-component-1-p">Toggled content 1 in Application.hbs</p>
    <p>Toggled content 1 in Application.hbs</p>
{{/toggle-component}}

{{outlet}}
{{test-recorder currentRouteName=currentRouteName class="doNotRecord"}}
