<p id="login-p-1">This is the login page text.</p>

<input id="login-input-1" type="text" placeholder="login">
<input id="login-input-2" type="password" placeholder="password">
<input type="text" placeholder="foo">
<p>This is the login page text with no id, this will not be recorded in the test for
    its removal</p>
