<p id="loginPageText">This is the login page text.</p>
<p>This is the login page text with no id, this will not be recorded in the test for
    its removal</p>
<input type="text" placeholder="login">
<input type="password" placeholder="password">
