<p id="register-p-1">This is the register page.</p>

<input id="register-input-1" type="text" placeholder="username">
<select id="register-select-1">
    <option>Mr</option>
    <option>Mrs</option>
</select>
<select>
    <option>Foo</option>
    <option>Baa</option>
</select>
